/* Fonts */
$font-primary-fa: 'Yekan Bakh VF';
$font-primary-en: 'Satoshi';

/* Font Weights */
$font-weight-thin: 6.25rem;
$font-weight-extraLight: 12.5rem;
$font-weight-light: 18.75rem;
$font-weight-regular: 25rem;
$font-weight-medium: 31.25rem;
$font-weight-semiBold: 37.5rem;
$font-weight-bold: 43.75rem;
$font-weight-black: 56.25rem;

/* Font Sizes */
$font-size-title-xl: 1.5rem;
$font-size-title-l: 1.125rem;
$font-size-title-m: 1rem;
$font-size-title-xs: 0.75rem;
$font-size-title-xxs: 0.625rem;
$font-size-title-2xl: 1.75rem;
$font-size-title-3xl: 2rem;

$font-size-body-xl: 1rem;
$font-size-body-l: 0.875rem;
$font-size-body-m: 0.75rem;
$font-size-body-s: 0.625rem;
$font-size-body-xs: 0.5rem;
