// -------------------------- Yekan Bakh  --------------------------

@font-face {
  font-family: 'Yekan Bakh VF';
  src: url('./../../../fonts/yekan_bakh_light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Yekan Bakh VF';
  src: url('./../../../fonts/yekan_bakh_regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Yekan Bakh VF';
  src: url('./../../../fonts/yekan_bakh_semi_bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Yekan Bakh VF';
  src: url('./../../../fonts/yekan_bakh_bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Yekan Bakh VF';
  src: url('./../../../fonts/yekan_bakh_black.ttf');
  font-weight: 900;
}
